<a href="{{site.baseurl}}/"><h3>OSMTimeLapseR</h3></a>
<h5> Examples </h5>
<ul>
   <li> <a href="{{site.baseurl}}/examples/gif-example.html">Your first GIF</a></li>
   <li> <a href="{{site.baseurl}}/examples/use-your-own-data.html">Make a GIF with your own data</a></li>
   <li> <a href="{{site.baseurl}}/examples/html-example.html">Your first HTML visualization</a></li>
   <li> <a href="{{site.baseurl}}/examples/custom.html">Customize your Visualizations</a></p></li>
</ul>
<h5> Help </h5>
<ul>
    <li> <a href="{{site.baseurl}}/help/getting-data.html">Getting OSM data</a></li>
</ul>

<div style="border-bottom:1px solid #ddd; margin-bottom: 30px;"> &nbsp; </div>

<iframe src="http://ghbtns.com/github-btn.html?user=prabhasp&repo=OSMTimeLapseR&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="55" height="30"></iframe>
<iframe src="http://ghbtns.com/github-btn.html?user=prabhasp&repo=OSMTimeLapseR&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30"></iframe>
