<a href="{{site.baseurl}}/"><h3>OSMTimeLapseR</h3></a>
<a href="{{site.baseurl}}/examples.html"><h5> Examples </h5></a>
<ul>
   <li> <a href="{{site.baseurl}}/examples/gif-example.html">Your first GIF</a></li>
   <li> <a href="{{site.baseurl}}/examples/use-your-own-data.html">Make a GIF with your own data</a></li>
   <li> <a href="{{site.baseurl}}/examples/html-example.html">Your first HTML-based visualization</a></li>
   <li> <a href="{{site.baseurl}}/examples/custom.html">Customize your Visualizations</a></p></li>
</ul>
<iframe src="http://ghbtns.com/github-btn.html?user=prabhasp&repo=OSMTimeLapseR&type=fork&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="150" height="30"></iframe>
